@import './variables.scss';

p, h1, h2, h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.margin {
  
  &-left {
    
    &-12 {
      margin-left: 12px;
    }
  }

  &-top {
    
    &-12 {
      margin-top: 12px;
    }
  }

  &-bottom {
    
    &-8 {
      margin-bottom: 8px;
    }

    &-12 {
      margin-bottom: 12px;
    }

    &-16 {
      margin-bottom: 16px;
    }

    &-24 {
      margin-bottom: 24px;
    }
  }
}

.padding {

  &-left-24 {
    padding-left: 24px !important;
  }
}
 
.inner {
  
  &-12 {
    padding: 12px;
  }
}

.flex{

  &-row {
    display: flex;
    flex-direction: row;
  }

  &-column {
    display: flex;
    flex-direction: column;
  }
}

.align-items {

  &-center {
    align-items: center;
  }

  &-start {
    align-items: flex-start;
  }
}

.txt {
  
  &-bold {
    font-weight: 600;
  }

  &-large {
    font-size: 24px;
  }
}

.label {
  background-color: $coral;
  color: $white;
  border-radius: 32px;
  display: flex;
  align-items: center;
  padding: 4px 16px;
}