@mixin disabled-element($theme) {
  @if($theme == 'light') {
    opacity: 0.2;
  }
  @if($theme == 'dark') {
    opacity: 0.6;
  }
  cursor: not-allowed;

  * {
    cursor: not-allowed;
  }
}

.button {
  border-radius: 4px;
}

.button:not(.icon-btn) {
  border: 2px solid $pink;
  background-color: transparent;
  color: $pink;
  display: block;
  padding: 12px 20px;
  font-size: 16px;
  transition: 0.2s;
  cursor: pointer;

  &:disabled {
    @include disabled-element('light');
  }

  &.primary {
    background-color: $dark;
    color: $white;
    border-color: $dark;
  }

  &.small {
    padding: 8px 16px;
  }

  &:not(.primary):hover {
    background-color: $pink;
    color: $white;
  }

  &:not(:disabled):active {
    opacity: 0.8;
  }
}

.counter {
  button {
    z-index: 1;
  }

  &.disabled {
    @include disabled-element('light');
  }

  input {
    border-left: none;
    border-right: none;
    border-top: 2px solid $pink;
    border-bottom: 2px solid $pink;
    height: 46.5px;
    margin-left: -4px;
    margin-right: -4px;
    outline: none;
    box-shadow: none;
    width: 112px;
    font-size: 16px;
    padding: 8px;
    text-align: center;
    box-sizing: border-box;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    display: none;
  }
}

.theme-switch, .lang-switch {
  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
  transition: 0.1s;
  border-radius: 40px;
  font-size: 20px;
  color: $coral;
  opacity: .9;
  margin-left: 32px;

  &:hover, &:focus {
    opacity: 1;
  }

  &:active {
    opacity: .8;
  }
}

.lang-switch {
  font-size: 16px;
}

.resize-btn {
  position: absolute;
  bottom: 2px;
  right: 2px;
  background-color: rgba($color: $pink, $alpha: .6);
  border: 0;
  border-radius: 6px;
  width: 14px;
  height: 14px;
  cursor: pointer;

  &:hover {
    background-color: rgba($color: $pink, $alpha: .8);
  }

  &:active {
    background-color: rgba($color: $pink, $alpha: 1.0);
  }
}

main.dark {
  .button:not(.icon-btn) {

    &:disabled {
      @include disabled-element('dark');
    }
  
    &.primary {
      background-color: $accent;
      color: $white;
      border-color: $accent;
    }
  }
}