@import '../../app/styles/common.scss';

.logo {
  transition: .2s;
  position: relative;
  font-size: 32px;
  font-weight: 900;
  text-decoration: none;
  color: $pink;
  
  &:after {
    bottom: -7px;
    left: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 0px;
    background-color: $white;
    transition: .2s;
    background-color: $pink;
  }

  &:hover {
    &:after {
      height: 5px;
    }
  }
}