.logo {
  transition: .2s;
  position: relative;
  font-size: 32px;
  font-weight: 900;
  text-decoration: none;
  color: $pink;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  
  &:after {
    bottom: -7px;
    left: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 0px;
    background-color: $white;
    transition: .2s;
    background-color: $pink;
  }

  &:hover {
    &:after {
      height: 5px;
    }
  }
}