main {
  padding: 24px;
  min-height: calc( 100dvh - 138px );
  max-width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}

main.light {
  background-color: $white;
}

main.dark {
  background-color: $dark;
  color: $white;
}