@import '../../app/styles/variables.scss';

.card {
  overflow: hidden;

  &.short-card {
    border: 1px solid rgba($coral, 0.1);
    border-radius: 4px;
    max-width: 25%;

    img {
      height: 350px;
      object-fit: cover;
    }
  }
}
