.card {
  position: relative;
  overflow: hidden;
  border-radius: 4px;

  &.short-card {
    border: 1px solid rgba($dark, 0.2);
    max-width: 284px;
    transition: .2s;
    cursor: pointer;

    img {
      height: 450px;
      object-fit: cover;
    }

    .counter input {
      width: 150px;
    }

    &:hover {
      box-shadow: 3px 3px 10px rgba($color: #000000, $alpha: .1);
    }
  }

  &.basket-card {
    border: 1px solid rgba($coral, 0.3);

    img {
      width: 100px;
      height: 150px;
      object-fit: cover;
    }

    .delete-btn {
      width: 40px;
      height: 40px;
      border: none;
      cursor: pointer;
      transition: 0.1s;
      position: absolute;
      right: 18px;
      top: 18px;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }

      i {
        color: $dark;
        font-size: 16px;
      }
    }
  }

  &.full-card {
    width: 1000px;
    display: flex;

    .current-img img {
      width: 500px;
      height: 750px;
      object-fit: cover;
      border: 1px solid rgba($dark, 0.2);
    }
  }
}
