@import '../../app/common.scss';

.header {
  background-color: $header_bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;

  .nav {

    ul {
      margin: 0;
      display: flex;
      list-style-type: none;

      li a {
        font-weight: 500;
        text-decoration: none;
        margin-left: 32px;
        color: $white;
        transition: .2s;

        &:hover, &:focus {
          opacity: .8;
        }

        &:active {
          opacity: .6;
        }
      }
    }
  }
}

.logo {
  color: white;
}